# IDE
.idea/
*.iml
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dll
venv/
env/
ENV/
.env

# Configs
settings.ini

# PyInstaller
build/
*.spec

# Temporary files
*.log
*.tmp
*.temp
.DS_Store
