# IDE
.idea/
*.iml
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dll
venv/
env/
ENV/
dist/
.env

# Configs
settings.ini
bot_settings.ini

# PyInstaller
build/
*.spec
testout.txt
my_icon.ico
*.ps1
.edgarmute_gui.lock

# Temporary files
*.log
*.tmp
*.temp
.DS_Store

